﻿@model PagedList.IPagedList<CanaryShop.Models.TAIKHOAN>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Danh sách tài khoản";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Danh sách tài khoản</title>
</head>
<body>
    <div id="wrapper" class="container">
        <section class="navbar main-menu">
            <div class="navbar-inner main-menu">
                <a href="/Home/Index" class="logo pull-left"><img src="~/Images/logo.png" class="site_logo" alt=""></a>
                <nav id="menu" class="pull-right">
                    <ul>
                        <li>
                            <a href="/Home/Index">Thời trang nữ</a>
                            <ul>
                                <li><a href="/Product/WomanCoat">Áo Khoác Nữ</a></li>
                                <li><a href="/Product/WomanCoat">Áo Sơ Mi Nữ</a></li>
                                <li><a href="/Product/WomanCoat">Áo Thun Nữ</a></li>
                                <li><a href="/Product/WomanCoat">Váy</a></li>
                                <li><a href="/Product/WomanCoat">Quần Nữ</a></li>
                                <li><a href="/Product/WomanCoat">Giày - Dép Nữ</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/Home/Index">Thời trang nam</a>
                            <ul>
                                <li><a href="/Home/Index">Áo Khoác Nam</a></li>
                                <li><a href="/Home/Index">Áo Sơ Mi Nam</a></li>
                                <li><a href="/Home/Index">Áo Thun Nam</a></li>
                                <li><a href="/Home/Index">Quần Nam</a></li>
                                <li><a href="/Home/Index">Giày - Dép Nam</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/Home/Index">Thời trang trẻ em</a>
                            <ul>
                                <li><a href="/Home/Index">Bé gái</a></li>
                                <li><a href="/Home/Index">Bé trai</a></li>
                            </ul>
                        </li>
                        <li><a href="/Home/Index">Đang hot</a></li>
                    </ul>
                </nav>
            </div>
        </section>
        <section class="main-content">
            @using (Html.BeginForm("AccountList", "Account", FormMethod.Get))
            {
                <p>
                    Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                    <input type="submit" value="Search" />
                </p>
            }
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>@Html.ActionLink("Tên đăng nhập", "AccountList", new { Sorting_Order = "username", currentFilter = ViewBag.CurrentFilter })</th>
                        <th>@Html.ActionLink("Họ và tên", "AccountList", new { Sorting_Order = "fullname", currentFilter = ViewBag.CurrentFilter })</th>
                        <th>@Html.ActionLink("Email", "AccountList", new { Sorting_Order = "email", currentFilter = ViewBag.CurrentFilter })</th>
                        <th>@Html.ActionLink("Ngày sinh", "AccountList", new { Sorting_Order = "dob", currentFilter = ViewBag.CurrentFilter })</th>
                        <th>@Html.ActionLink("Địa chỉ", "AccountList", new { Sorting_Order = "address", currentFilter = ViewBag.CurrentFilter })</th>
                        <th>@Html.ActionLink("Điện thoại", "AccountList", new { Sorting_Order = "phone", currentFilter = ViewBag.CurrentFilter })</th>
                        <th>Phân quyền</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Username)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Fullname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DOB)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Addr)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Phone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Author)
                            </td>
                            <td>
                                @if (item.Author == "Người dùng")
                                {
                                    @Html.ActionLink("Đặt làm Admin", "Identity/" + item.Username, "Account")
                                }
                                else
                                {
                                    @Html.ActionLink("Hủy quyền Admin", "Identity/" + item.Username, "Account")
                                }

                                | @Html.ActionLink("Xóa", "DeleteAccount/" + item.Username, "Account", null, new { onclick = "return confirm('Xác nhận xóa tài khoản này?')" })
                                | @Html.ActionLink("Cập nhật", "UpdateAccount/" + item.Username, "Account", null, new { onclick = "return confirm('Xác nhận xóa tài khoản này?')" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <br />
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("AccountList", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        </section>
</div>
</body>
</html>
