﻿@model CanaryShop.Models.LoginViewModel
@{
    ViewBag.Title = "Đăng nhập";
}

<div id="wrapper" class="container">
    <section class="navbar main-menu">
        <div class="navbar-inner main-menu">
            <a href="/Home/Index" class="logo pull-left"><img src="~/Images/logo.png" class="site_logo" alt=""></a>
            <nav id="menu" class="pull-right">
                <ul>
                    <li>
                        <a href="/Home/Index">Thời trang nữ</a>
                        <ul>
                            <li><a href="/Product/WomanCoat">Áo Khoác Nữ</a></li>
                            <li><a href="/Product/WomanCoat">Áo Sơ Mi Nữ</a></li>
                            <li><a href="/Product/WomanCoat">Áo Thun Nữ</a></li>
                            <li><a href="/Product/WomanCoat">Váy</a></li>
                            <li><a href="/Product/WomanCoat">Quần Nữ</a></li>
                            <li><a href="/Product/WomanCoat">Giày - Dép Nữ</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/Home/Index">Thời trang nam</a>
                        <ul>
                            <li><a href="/Home/Index">Áo Khoác Nam</a></li>
                            <li><a href="/Home/Index">Áo Sơ Mi Nam</a></li>
                            <li><a href="/Home/Index">Áo Thun Nam</a></li>
                            <li><a href="/Home/Index">Quần Nam</a></li>
                            <li><a href="/Home/Index">Giày - Dép Nam</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/Home/Index">Thời trang trẻ em</a>
                        <ul>
                            <li><a href="/Home/Index">Bé gái</a></li>
                            <li><a href="/Home/Index">Bé trai</a></li>
                        </ul>
                    </li>
                    <li><a href="/Home/Index">Đang hot</a></li>
                </ul>
            </nav>
        </div>
    </section>
    <section class="header_text sub">
        <h3><span>Đăng nhập</span></h3>
    </section>
    <section class="main-content">
        <div class="row">
            <div class="span12">
                <h4 class="title"><span class="text"><strong>Đăng nhập</strong></span></h4>
                <form action="#" method="post">
                    <input type="hidden" name="next" value="/">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label">Tên đăng nhập</label>
                            <div class="controls">
                                <input type="text" placeholder="Nhập tên đăng nhập" id="username" class="input-xlarge">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Mật khẩu</label>
                            <div class="controls">
                                <input type="password" placeholder="Nhập mật khẩu" id="password" class="input-xlarge">
                            </div>
                        </div>
                        <div class="control-group">
                            <input tabindex="3" class="btn btn-inverse large" type="submit" value="Đăng nhập">
                            <hr>
                            <p class="reset">Khôi phục lại <a tabindex="4" href="#" title="Recover your username or password">Tên đăng nhập hoặc mật khẩu</a></p>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </section>
</div>