﻿
@{
    Layout = null;
}
@model CanaryShop.Areas.Admin.Models.LoginModel

<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <title>Trang đăng nhập Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- CSS -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans:400,700'>
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/supersized.css">
    <link rel="stylesheet" href="/assets/css/style.css">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div class="page-container">
        <h1>Đăng nhập</h1>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })

            @Html.TextBoxFor(model =>model.UserName, new { @class = "username", @placeholder = "Username", @type = "text", @name = "username" })
            @Html.TextBoxFor(model => model.Password, new{ @class = "password", @placeholder = "Password", @type = "password", @name = "password" })
            <button type="submit">Đăng nhập</button>
            <div class="error"><span>+</span></div>
        }

    </div>
    <!-- Javascript -->
    <script src="/assets/js/jquery-1.8.2.min.js"></script>
    <script src="/assets/js/supersized.3.2.7.min.js"></script>
    <script src="/assets/js/supersized-init.js"></script>
    <script src="/assets/js/scripts.js"></script>

</body>
</html>