﻿@model PagedList.IPagedList<Models.Frameworks.SANPHAMQA>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Woman-Dress";
}
<div id="wrapper" class="container">
    <section class="navbar main-menu">
        <div class="navbar-inner main-menu">
            <a href="/TrangChu/TrangChu" class="logo pull-left"><img src="~/Images/logo.png" class="site_logo" alt=""></a>
            <nav id="menu" class="pull-right">
                <ul>
                    <li>
                        <a href="/TrangChu/TrangChu">Thời trang nữ</a>
                        <ul>
                            <li><a href="/SanPham/AoKhoacNu">Áo Khoác Nữ</a></li>
                            <li><a href="/SanPham/AoKhoacNu">Áo Sơ Mi Nữ</a></li>
                            <li><a href="/SanPham/AoKhoacNu">Áo Thun Nữ</a></li>
                            <li><a href="/SanPham/AoKhoacNu">Váy</a></li>
                            <li><a href="/SanPham/AoKhoacNu">Quần Nữ</a></li>
                            <li><a href="/SanPham/AoKhoacNu">Giày - Dép Nữ</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/TrangChu/TrangChu">Thời trang nam</a>
                        <ul>
                            <li><a href="/TrangChu/TrangChu">Áo Khoác Nam</a></li>
                            <li><a href="/TrangChu/TrangChu">Áo Sơ Mi Nam</a></li>
                            <li><a href="/TrangChu/TrangChu">Áo Thun Nam</a></li>
                            <li><a href="/TrangChu/TrangChu">Quần Nam</a></li>
                            <li><a href="/TrangChu/TrangChu">Giày - Dép Nam</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/TrangChu/TrangChu">Thời trang trẻ em</a>
                        <ul>
                            <li><a href="/TrangChu/TrangChu">Bé gái</a></li>
                            <li><a href="/TrangChu/TrangChu">Bé trai</a></li>
                        </ul>
                    </li>
                    <li><a href="/TrangChu/TrangChu">Đang hot</a></li>
                </ul>
            </nav>
        </div>
    </section>
    <section class="header_text sub">
        <img class="pageBanner" src="~/Images/pageBanner.png" alt="New products">
    </section>
    <section class="main-content">
        <div class="row">
            <div class="span12">
                <ul class="thumbnails listing-products">
                    @foreach (var item in Model)
                    {
                        <li class="span3">
                            <div class="product-box">
                                <span class="sale_tag"></span>
                                <a href="/SanPham/ChiTietSanPham"><img alt="" src= ></a><br />
                                <a href="/SanPham/ChiTietSanPham" class="title">Áo Khoác Kimono Sành Điệu</a><br />
                                <p class="price">159.000đ</p>
                            </div>
                        </li>
                    }

                </ul>
                <hr>

            </div>
        </div>
    </section>
</div>
