﻿@model IEnumerable<Models.Frameworks.LOAISANPHAM>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var item in Model)
{
    <div class="header1">
        @Html.ActionLink(item.Ten, "SanPhamID", "SanPham", new { id = item.IDLoaiSP }, null)
    </div>
    if (item.SANPHAMQAs.Count() > 0)
    {
        @Html.Partial("ShowPartial", item.SANPHAMQAs)
    }
}

