﻿@model Models.Frameworks.TAIKHOAN
@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="wrapper" class="container">
    <section class="navbar main-menu">
        <div class="navbar-inner main-menu">
            <a href="/TrangChu/TrangChu" class="logo pull-left"><img src="~/Images/logo.png" class="site_logo" alt=""></a>
            <nav id="menu" class="pull-right">
                <ul>
                    <li>
                        <a href="/TrangChu/TrangChu">Thời trang nữ</a>
                        <ul>
                            <li><a href="/SanPham/AoKhoacNu">Áo Khoác Nữ</a></li>
                            <li><a href="/SanPham/AoKhoacNu">Áo Sơ Mi Nữ</a></li>
                            <li><a href="/SanPham/AoKhoacNu">Áo Thun Nữ</a></li>
                            <li><a href="/SanPham/AoKhoacNu">Váy</a></li>
                            <li><a href="/SanPham/AoKhoacNu">Quần Nữ</a></li>
                            <li><a href="/SanPham/AoKhoacNu">Giày - Dép Nữ</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/TrangChu/TrangChu">Thời trang nam</a>
                        <ul>
                            <li><a href="/TrangChu/TrangChu">Áo Khoác Nam</a></li>
                            <li><a href="/TrangChu/TrangChu">Áo Sơ Mi Nam</a></li>
                            <li><a href="/TrangChu/TrangChu">Áo Thun Nam</a></li>
                            <li><a href="/TrangChu/TrangChu">Quần Nam</a></li>
                            <li><a href="/TrangChu/TrangChu">Giày - Dép Nam</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/TrangChu/TrangChu">Thời trang trẻ em</a>
                        <ul>
                            <li><a href="/TrangChu/TrangChu">Bé gái</a></li>
                            <li><a href="/TrangChu/TrangChu">Bé trai</a></li>
                        </ul>
                    </li>
                    <li><a href="/TrangChu/TrangChu">Đang hot</a></li>
                </ul>
            </nav>
        </div>
    </section>
    <section class="header_text sub">
        <h3><span>ĐĂNG KÍ THÀNH VIÊN</span></h3>
    </section>
    <section class="main-content">
        <div class="row">
            <div class="span12">
                <h4 class="title"><span class="text"><strong>Đăng kí</strong></span></h4>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        @if (ViewBag.Message != null)
                        {
                            <div style="border:solid 1px green">
                                @ViewBag.Message
                            </div>
                        }
                        @Html.ValidationSummary(true)
                        <div class="control-group">
                            <label class="control-label">Tên tài khoản</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.TenDangNhap, new { @type = "text", @placeholder = "Nhập tên tài khoản", @class = "input-xlarge" })
                                @Html.ValidationMessageFor(model => model.TenDangNhap)
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Mật khẩu</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.MatKhau, new { @type = "Password", @placeholder = "Mật khẩu", @class = "input-xlarge" })
                                @Html.ValidationMessageFor(model => model.MatKhau)

                            </div>
                        </div>

                        @*<div class="control-group">
                                <label class="control-label">Nhập lại mật khẩu</label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.ConfirmPassword, new { @type = "Password", @placeholder = "Nhập lại mật khẩu", @class = "input-xlarge" })
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword)

                                </div>
                            </div>*@

                        <div class="control-group">
                            <label class="control-label">Họ tên</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.HoTen, new { @type = "text", @placeholder = "Họ và Tên", @class = "input-xlarge" })
                                @Html.ValidationMessageFor(model => model.HoTen)

                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Giới tính</label>
                            <div class="controls">
                                @Html.DropDownListFor(model => model.GioiTinh, new List<SelectListItem>()
                                        {
                                            new SelectListItem(){Selected = true,Text = "Nam",Value = "Nam"},
                                            new SelectListItem(){Selected = false,Text = "Nữ",Value = "Nữ"},
                                        })
                                @Html.ValidationMessageFor(model => model.GioiTinh)

                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Địa chỉ</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.DiaChi, new { @type = "text", @placeholder = "Địa chỉ", @class = "input-xlarge" })
                                @Html.ValidationMessageFor(model => model.DiaChi)

                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Email</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.Email, new { @type = "text", @placeholder = "Email", @class = "input-xlarge" })
                                @Html.ValidationMessageFor(model => model.Email)

                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Số điện thoại</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.SDT, new { @type = "text", @placeholder = "Số điện thoại", @class = "input-xlarge" })
                                @Html.ValidationMessageFor(model => model.SDT)

                            </div>
                        </div>
                        <form method="post" action="/TaiKhoan/DangKi">
                            <div class="control-group">
                                <div class="g-recaptcha" data-sitekey="6LeFrAgTAAAAANDJC7ztf_41riEfrm65Sv-GQje9"></div>
                                <input tabindex="3" class="btn btn-inverse large" type="submit" value="Đăng kí">
                            </div>
                        </form>
                    </fieldset>
                }
                    @section scripts{
                        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
                    }
                </div>
            </div>
        </section>
    </div>