﻿@model CanaryShop.Models.LoginViewModel
@{
    ViewBag.Title = "Đăng nhập";
}

<div id="wrapper" class="container">
    <section class="navbar main-menu">
        <div class="navbar-inner main-menu">
            <a href="/TrangChu/TrangChu" class="logo pull-left"><img src="~/Images/logo.png" class="site_logo" alt=""></a>
            <nav id="menu" class="pull-right">
                <ul>
                    <li>
                        <a href="/TrangChu/TrangChu">Thời trang nữ</a>
                        <ul>
                            <li><a href="/SanPham/AoKhoacNu">Áo Khoác Nữ</a></li>
                            <li><a href="/SanPham/AoKhoacNu">Áo Sơ Mi Nữ</a></li>
                            <li><a href="/SanPham/AoKhoacNu">Áo Thun Nữ</a></li>
                            <li><a href="/SanPham/AoKhoacNu">Váy</a></li>
                            <li><a href="/SanPham/AoKhoacNu">Quần Nữ</a></li>
                            <li><a href="/SanPham/AoKhoacNu">Giày - Dép Nữ</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/TrangChu/TrangChu">Thời trang nam</a>
                        <ul>
                            <li><a href="/TrangChu/TrangChu">Áo Khoác Nam</a></li>
                            <li><a href="/TrangChu/TrangChu">Áo Sơ Mi Nam</a></li>
                            <li><a href="/TrangChu/TrangChu">Áo Thun Nam</a></li>
                            <li><a href="/TrangChu/TrangChu">Quần Nam</a></li>
                            <li><a href="/TrangChu/TrangChu">Giày - Dép Nam</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/TrangChu/TrangChu">Thời trang trẻ em</a>
                        <ul>
                            <li><a href="/TrangChu/TrangChu">Bé gái</a></li>
                            <li><a href="/TrangChu/TrangChu">Bé trai</a></li>
                        </ul>
                    </li>
                    <li><a href="/TrangChu/TrangChu">Đang hot</a></li>
                </ul>
            </nav>
        </div>
    </section>
    <section class="header_text sub">
        <h3><span>Đăng nhập</span></h3>
    </section>
    <section class="main-content">
        <div class="row">
            <div class="span12">
                <h4 class="title"><span class="text"><strong>Đăng nhập</strong></span></h4>
                @using (@Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label">Tên tài khoản</label>
                            <div class="controls">
                                @Html.TextBoxFor(model=>model.UserName, new { @type = "text", @placeholder = "Nhập tên tài khoản", @class = "input-xlarge",@name ="username" })
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Mật khẩu</label>
                            <div class="controls">
                                @Html.TextBoxFor(model=>model.Password, new { @type = "Password", @placeholder = "Mật khẩu", @class = "input-xlarge",@name="password" })
                            </div>
                        </div>
                        <div class="control-group">
                            <input tabindex="3" class="btn btn-inverse large" type="submit" value="Đăng nhập">
                            <div class="error"><span></span></div>
                            <hr>
                            <p class="reset">Khôi phục lại <a tabindex="4" href="#" title="Recover your username or password">Tên đăng nhập hoặc mật khẩu</a></p>
                        </div>
                    </fieldset>
                }

            </div>
        </div>
    </section>
</div>