﻿@{
    ViewBag.Title = "Liên hệ";
}

<div id="wrapper" class="container">
    <section class="google_map">
        <iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=74%2F6+Nguy%E1%BB%85n+V%C4%83n+Tho%E1%BA%A1i,+S%C6%A1n+Tr%C3%A0,+%C4%90%C3%A0+N%E1%BA%B5ng,+Vi%E1%BB%87t+Nam&amp;aq=0&amp;oq=74%2F6+Nguyen+Van+Thoai+Da+Nang,+Viet+Nam&amp;sll=37.0625,-95.677068&amp;sspn=41.546728,79.013672&amp;ie=UTF8&amp;hq=&amp;hnear=74+Nguy%E1%BB%85n+V%C4%83n+Tho%E1%BA%A1i,+Ng%C5%A9+H%C3%A0nh+S%C6%A1n,+Da+Nang,+Vietnam&amp;t=m&amp;ll=16.064537,108.24151&amp;spn=0.032992,0.039396&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
    </section>
    <section class="header_text sub">
        <img class="pageBanner" src="~/Images/pageBanner.png" alt="New products">
        <h4><span>Liên hệ</span></h4>
    </section>
    <section class="main-content">
        <div class="row">
            <div class="span4">
                <div>
                    <h5>Thông tin thêm</h5>
                    <p>
                        <strong>Điện thoại:</strong>&nbsp;01289 808 247<br>
                        <strong>Fax:</strong>&nbsp;+04 (123) 456-7890<br>
                        <strong>Email:</strong>&nbsp;<a href="#">ndtc19942410@gmail.com</a>
                    </p>
                </div>
            </div>
            <div class="span6">
                <form method="post" action="#">
                    <fieldset>
                        <div class="clearfix">
                            <label for="name"><span>Tên:</span></label>
                            <div class="input">
                                <input tabindex="1" size="18" id="name" name="name" type="text" value="" class="input-xlarge" placeholder="Họ tên">
                            </div>
                        </div>

                        <div class="clearfix">
                            <label for="email"><span>Email:</span></label>
                            <div class="input">
                                <input tabindex="2" size="25" id="email" name="email" type="text" value="" class="input-xlarge" placeholder="Địa chỉ Email">
                            </div>
                        </div>

                        <div class="clearfix">
                            <label for="message"><span>Tin nhắn:</span></label>
                            <div class="input">
                                <textarea tabindex="3" class="input-xlarge" id="message" name="body" rows="7" placeholder="Tin nhắn"></textarea>
                            </div>
                        </div>

                        <div class="actions">
                            <button tabindex="3" type="submit" class="btn btn-inverse">Gửi tin nhắn</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </section>
</div>