﻿@{
    ViewBag.Title = "Trang chủ";
}

<div id="wrapper" class="container">
    <section class="navbar main-menu">
        <div class="navbar-inner main-menu">
            <a href="/Home/Index" class="logo pull-left"><img src="~/Images/logo.png" class="site_logo" alt=""></a>
            <nav id="menu" class="pull-right">
                <ul>
                    <li>
                        <a href="/Home/Index">Thời trang nữ</a>
                        <ul>
                            <li><a href="/Product/WomanCoat">Áo Khoác Nữ</a></li>
                            <li><a href="/Product/WomanCoat">Áo Sơ Mi Nữ</a></li>
                            <li><a href="/Product/WomanCoat">Áo Thun Nữ</a></li>
                            <li><a href="/Product/WomanCoat">Váy</a></li>
                            <li><a href="/Product/WomanCoat">Quần Nữ</a></li>
                            <li><a href="/Product/WomanCoat">Giày - Dép Nữ</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/Home/Index">Thời trang nam</a>
                        <ul>
                            <li><a href="/Home/Index">Áo Khoác Nam</a></li>
                            <li><a href="/Home/Index">Áo Sơ Mi Nam</a></li>
                            <li><a href="/Home/Index">Áo Thun Nam</a></li>
                            <li><a href="/Home/Index">Quần Nam</a></li>
                            <li><a href="/Home/Index">Giày - Dép Nam</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/Home/Index">Thời trang trẻ em</a>
                        <ul>
                            <li><a href="/Home/Index">Bé gái</a></li>
                            <li><a href="/Home/Index">Bé trai</a></li>
                        </ul>
                    </li>
                    <li><a href="/Home/Index">Đang hot</a></li>
                </ul>
            </nav>
        </div>
    </section>
    <section class="homepage-slider" id="home-slider">
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <img src="~/Images/banner-1.jpg" alt="" />
                </li>
                <li>
                    <img src="~/Images/banner-2.jpg" alt="" />
                </li>
            </ul>
        </div>
    </section>
    <section class="header_text">
        Đến với trang web của chúng tôi là bạn đang ghé thăm một thiên đường mua sắm thực thụ.
        <br />Chúng tôi có những gì bạn cần.
    </section>
    <section class="main-content">
        <div class="row">
            <div class="span12">
                <div class="row">
                    <div class="span12">
                        <h4 class="title">
                            <span class="pull-left"><span class="text"><span class="line">Sản phẩm <strong>đặc sắc</strong></span></span></span>
                            <span class="pull-right">
                                <a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
                            </span>
                        </h4>
                        <div id="myCarousel" class="myCarousel carousel slide">
                            <div class="carousel-inner">
                                <div class="active item">
                                    <ul class="thumbnails">
                                        <li class="span3">
                                            <div class="product-box">
                                                <span class="sale_tag"></span>
                                                <p><a href="/Product/ProductDetail"><img alt="" src="~/Images/WomanCoat/1_109_104.jpg"></a></p>
                                                <a href="/Product/ProductDetail" class="title">Áo Khoác Kimono Sành Điệu</a><br />
                                                <p class="price">159.000đ</p>
                                            </div>
                                        </li>
                                        <li class="span3">
                                            <div class="product-box">
                                                <span class="sale_tag"></span>
                                                <p><a href="/Product/ProductDetail"><img alt="" src="~/Images/WomanCoat/1_16_100.jpg"></a></p>
                                                <a href="/Product/ProductDetail" class="title">Áo Vest Nữ Hàn Quốc</a><br />
                                                <p class="price">179.000đ</p>
                                            </div>
                                        </li>
                                        <li class="span3">
                                            <div class="product-box">
                                                <p><a href="/Product/ProductDetail"><img alt="" src="~/Images/WomanCoat/1_16_364.jpg"></a></p>
                                                <a href="/Product/ProductDetail" class="title">Áo Vest Nữ Công Sở WaveStyle</a><br />
                                                <p class="price">189.000đ</p>
                                            </div>
                                        </li>
                                        <li class="span3">
                                            <div class="product-box">
                                                <p><a href="/Product/ProductDetail"><img alt="" src="~/Images/WomanCoat/1_87_1.jpg"></a></p>
                                                <a href="/Product/ProductDetail" class="title">Áo Khoác Nữ Đính Nơ Lưng Xinh Xắn</a><br />
                                                <p class="price">169.000đ</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="item">
                                    <ul class="thumbnails">
                                        <li class="span3">
                                            <div class="product-box">
                                                <p><a href="/Product/ProductDetail"><img alt="" src="~/Images/WomanCoat/ao-khoac-nu-2014_5.jpg"></a></p>
                                                <a href="/Product/ProductDetail" class="title">Áo Khoác Nỉ Hai Dây Kéo Ngực</a><br />
                                                <p class="price">148.000đ</p>
                                            </div>
                                        </li>
                                        <li class="span3">
                                            <div class="product-box">
                                                <p><a href="/Product/ProductDetail"><img alt="" src="~/Images/WomanCoat/1_43_1.jpg"></a></p>
                                                <a href="/Product/ProductDetail" class="title">Áo Khoác Nữ Sành Điệu</a><br />
                                                <p class="price">165.000đ</p>
                                            </div>
                                        </li>
                                        <li class="span3">
                                            <div class="product-box">
                                                <p><a href="/Product/ProductDetail"><img alt="" src="~/Images/WomanCoat/ao-khoac-vest-nu_3_7.jpg"></a></p>
                                                <a href="/Product/ProductDetail" class="title">Áo Khoác Cổ Giả Vest</a><br />
                                                <p class="price">161.000đ</p>
                                            </div>
                                        </li>
                                        <li class="span3">
                                            <div class="product-box">
                                                <p><a href="/Product/ProductDetail"><img alt="" src="~/Images/WomanCoat/1_101_325.jpg"></a></p>
                                                <a href="/Product/ProductDetail" class="title">Áo Khoác Nữ Không Nút Sang Trọng</a><br />
                                                <p class="price">149.000đ</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="span12">
                        <h4 class="title">
                            <span class="pull-left"><span class="text"><span class="line">Sản phẩm <strong>mới nhất</strong></span></span></span>
                            <span class="pull-right">
                                <a class="left button" href="#myCarousel-2" data-slide="prev"></a><a class="right button" href="#myCarousel-2" data-slide="next"></a>
                            </span>
                        </h4>
                        <div id="myCarousel-2" class="myCarousel carousel slide">
                            <div class="carousel-inner">
                                <div class="active item">
                                    <ul class="thumbnails">
                                        <li class="span3">
                                            <div class="product-box">
                                                <span class="sale_tag"></span>
                                                <p><a href="/Product/ProductDetail"><img alt="" src="~/Images/WomanCoat/ao-khoac-nu-2014_5.jpg"></a></p>
                                                <a href="/Product/ProductDetail" class="title">Áo Khoác Nỉ Hai Dây Kéo Ngực</a><br />
                                                <p class="price">148.000đ</p>
                                            </div>
                                        </li>
                                        <li class="span3">
                                            <div class="product-box">
                                                <p><a href="/Product/ProductDetail"><img alt="" src="~/Images/WomanCoat/1_101_325.jpg"></a></p>
                                                <a href="/Product/ProductDetail" class="title">Áo Khoác Nữ Không Nút Sang Trọng</a><br />
                                                <p class="price">149.000đ</p>
                                            </div>
                                        </li>
                                        <li class="span3">
                                            <div class="product-box">
                                                <p><a href="/Product/ProductDetail"><img alt="" src="~/Images/WomanCoat/1_101_325.jpg"></a></p>
                                                <a href="/Product/ProductDetail" class="title">Áo Khoác Nữ Không Nút Sang Trọng</a><br />
                                                <p class="price">149.000đ</p>
                                            </div>
                                        </li>
                                        <li class="span3">
                                            <div class="product-box">
                                                <p><a href="/Product/ProductDetail"><img alt="" src="~/Images/WomanCoat/1_101_325.jpg"></a></p>
                                                <a href="/Product/ProductDetail" class="title">Áo Khoác Nữ Không Nút Sang Trọng</a><br />
                                                <p class="price">149.000đ</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="item">
                                    <ul class="thumbnails">
                                        <li class="span3">
                                            <div class="product-box">
                                                <p><a href="/Product/ProductDetail"><img alt="" src="~/Images/WomanCoat/1_101_325.jpg"></a></p>
                                                <a href="/Product/ProductDetail" class="title">Áo Khoác Nữ Không Nút Sang Trọng</a><br />
                                                <p class="price">149.000đ</p>
                                            </div>
                                        </li>
                                        <li class="span3">
                                            <div class="product-box">
                                                <p><a href="/Product/ProductDetail"><img alt="" src="~/Images/WomanCoat/1_101_325.jpg"></a></p>
                                                <a href="/Product/ProductDetail" class="title">Áo Khoác Nữ Không Nút Sang Trọng</a><br />
                                                <p class="price">149.000đ</p>
                                            </div>
                                        </li>
                                        <li class="span3">
                                            <div class="product-box">
                                                <p><a href="/Product/ProductDetail"><img alt="" src="~/Images/WomanCoat/1_101_325.jpg"></a></p>
                                                <a href="/Product/ProductDetail" class="title">Áo Khoác Nữ Không Nút Sang Trọng</a><br />
                                                <p class="price">149.000đ</p>
                                            </div>
                                        </li>
                                        <li class="span3">
                                            <div class="product-box">
                                                <p><a href="/Product/ProductDetail"><img alt="" src="~/Images/WomanCoat/1_101_325.jpg"></a></p>
                                                <a href="/Product/ProductDetail" class="title">Áo Khoác Nữ Không Nút Sang Trọng</a><br />
                                                <p class="price">149.000đ</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row feature_box">
                    <div class="span4">
                        <div class="service">
                            <div class="responsive">
                                <img src="~/Images/feature_img_2.png" alt="" />
                                <h4>Thiết kế <strong>HIỆN ĐẠI</strong></h4>
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="service">
                            <div class="customize">
                                <img src="~/Images/feature_img_1.png" alt="" />
                                <h4>Giao hàng <strong>MIỄN PHÍ</strong></h4>
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="service">
                            <div class="support">
                                <img src="~/Images/feature_img_3.png" alt="" />
                                <h4>Phục vụ<strong> 24/7</strong></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>







