﻿@model IEnumerable<Models.Frameworks.LOAISANPHAM>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(function () {
        $('.RemoveLink').click(function () {
            var x = $(this).attr("data-id");
            if (confirm("Đối tượng sẽ bị xóa.Bạn có muốn không ?")) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete", "Category")',
                    data: { id: x }
                });
                $("#row-" + x).remove();
            }
        })
    })
</script>
<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ten)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr id="row-@item.IDLoaiSP">
            <td>
                @Html.DisplayFor(modelItem => item.Ten)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.IDLoaiSP }) |
                <a href="#" class="RemoveLink" data-id="@item.IDLoaiSP">Xóa</a>
            </td>
        </tr>
    }
</table>


