﻿@model Models.Frameworks.GIOHANG
@using CanaryShop.Models
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Session["Cart"] != null)
{
    var _CartSession = (List<CartVM>)Session["Cart"];
    var Total = _CartSession.Sum(m => m.Sanpham.GiaBan * m.SoLuong);
    <div class="row" style="margin-left:20px">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Danh mục sản phẩm
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>Sản Phẩm</th>
                                    <th>Đơn Giá</th>
                                    <th>Số Lượng</th>
                                    <th>Thành Tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in _CartSession)
                                {
                                    var SubTotal = item.SoLuong * item.Sanpham.GiaBan;
                                    <tr>
                                        <td>@item.Sanpham.TenSP</td>
                                        <td>@string.Format("{0:0,0 VNĐ}", item.Sanpham.GiaBan).Replace(",", ".")</td>
                                        <td>@item.SoLuong</td>
                                        <td> @string.Format("{0:0,0 VNĐ}", SubTotal).Replace(",", ".")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    
    <div style="border-top: solid 2px #0094ff; margin:10px; padding:10px; font-size:20px; font-weight:bold; margin-left:20px">
        Tổng Tiền :@string.Format("{0:0,0 VNĐ}", @Total).Replace(",", ".")
    </div>
}

<section class="main-content" style="margin-left:20px">
    <div class="row">
        <div class="span12">
            <h4 class="title"style="color:red"><span class="text"><strong></strong>Thông tin khách hàng</span></h4>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <fieldset>
                    @if (ViewBag.Message != null)
                    {
                        <div style="border:solid 1px green">
                            @ViewBag.Message
                        </div>
                    }
                    @Html.ValidationSummary(true)
                    <div class="control-group">
                        <label class="control-label">Tên khách hàng</label>
                        <div class="controls">
                            @Html.TextBoxFor(model => model.KhachHang, new { @type = "text", @placeholder = "Tên khách hàng", @class = "input-xlarge" })
                            @Html.ValidationMessageFor(model => model.KhachHang)
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Email</label>
                        <div class="controls">
                            @Html.TextBoxFor(model => model.Email, new { @type = "text", @placeholder = "Email", @class = "input-xlarge" })
                            @Html.ValidationMessageFor(model => model.Email)

                        </div>
                    </div>
                   <div class="control-group">
                        <label class="control-label">Số điện thoại</label>
                        <div class="controls">
                            @Html.TextBoxFor(model => model.SDT, new { @type = "text", @placeholder = "Số điện thoại", @class = "input-xlarge" })
                            @Html.ValidationMessageFor(model => model.SDT)

                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Địa chỉ</label>
                        <div class="controls">
                            @Html.TextBoxFor(model => model.DiaChi, new { @type = "text", @placeholder = "Địa chỉ", @class = "input-xlarge" })
                            @Html.ValidationMessageFor(model => model.DiaChi)

                        </div>
                    </div>
                    <div class="control-group">
                        <input tabindex="3" class="btn btn-inverse large" type="submit" value="Gửi đơn đặt hàng">
                    </div>
                </fieldset>
            }
        </div>
    </div>
</section>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




