﻿@model Models.Frameworks.GIOHANG
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset>
    <legend>Thông tin khác hàng</legend>
    <table>
        <tr>
            <td>@Html.DisplayNameFor(model => model.KhachHang)</td>
            <td>@Html.DisplayFor(model => model.KhachHang)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Email)</td>
            <td>@Html.DisplayFor(model => model.Email)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.SDT)</td>
            <td>@Html.DisplayFor(model => model.SDT)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.DiaChi)</td>
            <td>@Html.DisplayFor(model => model.DiaChi)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.TrangThai)</td>
            <td>@Html.DisplayFor(model => model.TrangThai)</td>
        </tr>
    </table>
</fieldset>

<fieldset>
    <legend>Chi Tiết Đơn Hàng</legend>
    <table>
        <thead>
            <tr>
                <th>Sản Phẩm</th>
                <th>Đơn Giá</th>
                <th>Số Lượng</th>
                <th>Thành Tiền</th>
            </tr>
        </thead>
        <tbody>
            @{
                var Total = Model.OrderDetails.Sum(m => m.Sanpham.GiaBan * m.SoLuong);
            }
            @foreach (var item in Model.OrderDetails)
            {
                var SubTotal = item.SoLuong * item.Sanpham.GiaBan;
                <tr>
                    <td>@item.Sanpham.TenSP</td>
                    <td>@string.Format("{0:0,0 VNĐ}", item.Sanpham.GiaBan).Replace(",", ".")</td>
                    <td>@item.SoLuong</td>
                    <td>@string.Format("{0:0,0 VNĐ}", SubTotal).Replace(",", ".")</td>
                </tr>
            }
        </tbody>
    </table>
    <div style="border-top: solid 2px #0094ff; margin: 10px; padding: 10px; font-size: 20px; font-weight: bold;">
        Tổng Tiền :@string.Format("{0:0,0 VNĐ}", @Total).Replace(",", ".")
    </div>
</fieldset>


