﻿@model IEnumerable<Models.Frameworks.GIOHANG>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(function () {
        $('.RemoveLink').click(function () {
            var x = $(this).attr("data-id");
            if (confirm("Đối tượng sẽ bị xóa.Bạn có muốn không ?")) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete", "Order")',
                    data: { id: x }
                });
                $("#row-" + x).remove();
            }
        })
    })
</script>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KhachHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChi)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr id="row-@item.OrderID">
            <td>
                @Html.DisplayFor(modelItem => item.KhachHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.ActionLink("Chi tiết", "Details", new { id = item.OrderID }) |
                <a href="#" class="RemoveLink" data-id="@item.OrderID">Xóa</a>
            </td>
        </tr>
    }
</table>


