﻿@using CanaryShop.Models
@{
    ViewBag.Title = "ShowCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(function () {
        $('.RemoveLink').click(function () {
            var x = $(this).attr("data-id");
            if (confirm("Đối tượng sẽ bị xóa.Bạn có muốn không ?")) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("RemoveCart", "Shopping")',
                    data: { id: x }
                });
                $("#row-" + x).remove();
            }
        })
    })
</script>
@if (Session["Cart"] != null)
{
    var _CartSession = (List<CartVM>)Session["Cart"];
    var Total = _CartSession.Sum(m => m.Sanpham.GiaBan * m.SoLuong);
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading" style="text-align:center">
                    GIỎ HÀNG
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>Sản Phẩm</th>
                                    <th>Đơn Giá</th>
                                    <th>Số Lượng</th>
                                    <th>Thành Tiền</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in _CartSession)
                                {
                                    var SubTotal = item.SoLuong * item.Sanpham.GiaBan;
                                    <tr id="row-@item.Sanpham.MaSP">
                                        <td>@item.Sanpham.TenSP</td>
                                        <td>@string.Format("{0:0,0 VNĐ}", item.Sanpham.GiaBan).Replace(",", ".")</td>
                                        <td>@item.SoLuong</td>
                                        <td> @string.Format("{0:0,0 VNĐ}", SubTotal).Replace(",", ".")</td>
                                        <td><a style="color:blue" href="#" class="RemoveLink" data-id="@item.Sanpham.MaSP">Xóa</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div style="border-top: solid 2px #0094ff; margin:10px; padding:10px; font-size:20px; font-weight:bold;">
        Tổng Tiền: @string.Format("{0:0,0 VNĐ}", @Total).Replace(",", ".")
    </div>
    <p style="margin-left:20px">
        <a style="color:blue" href="@Url.Action("Create", "MuaHang") " class=" linkbutton1">
            Đặt Hàng |
        </a>
        <a style="color:blue" href="@Url.Action("Index", "SanPham")" class="linkButton1">
            Trở về Trang Chủ
        </a>
    </p>
}
else
{
    <h1>Giỏ hàng trống</h1>
    <p>
        <a style="color:blue" href="@Url.Action("Index","SanPham")" class="linkButton1">Trở về Trang Chủ</a>
    </p>

}


