﻿@{
    ViewBag.Title = "Chi tiết";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Chi tiết</title>
</head>
<body>
    <div id="wrapper" class="container">
        <section class="navbar main-menu">
            <div class="navbar-inner main-menu">
                <a href="/Home/Index" class="logo pull-left"><img src="~/Images/logo.png" class="site_logo" alt=""></a>
                <nav id="menu" class="pull-right">
                    <ul>
                        <li>
                            <a href="/Home/Index">Thời trang nữ</a>
                            <ul>
                                <li><a href="/Product/WomanCoat">Áo Khoác Nữ</a></li>
                                <li><a href="/Product/WomanCoat">Áo Sơ Mi Nữ</a></li>
                                <li><a href="/Product/WomanCoat">Áo Thun Nữ</a></li>
                                <li><a href="/Product/WomanCoat">Váy</a></li>
                                <li><a href="/Product/WomanCoat">Quần Nữ</a></li>
                                <li><a href="/Product/WomanCoat">Giày - Dép Nữ</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/Home/Index">Thời trang nam</a>
                            <ul>
                                <li><a href="/Home/Index">Áo Khoác Nam</a></li>
                                <li><a href="/Home/Index">Áo Sơ Mi Nam</a></li>
                                <li><a href="/Home/Index">Áo Thun Nam</a></li>
                                <li><a href="/Home/Index">Quần Nam</a></li>
                                <li><a href="/Home/Index">Giày - Dép Nam</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/Home/Index">Thời trang trẻ em</a>
                            <ul>
                                <li><a href="/Home/Index">Bé gái</a></li>
                                <li><a href="/Home/Index">Bé trai</a></li>
                            </ul>
                        </li>
                        <li><a href="/Home/Index">Đang hot</a></li>
                    </ul>
                </nav>
            </div>
        </section>
        <section class="main-content">
            <div class="row">
                <div class="span9">
                    <div class="row">
                        <div class="span4">
                            <a href="~/Images/WomanCoat/1_101_325.jpg" class="thumbnail" data-fancybox-group="group1" title="Description 1"><img alt="" src="~/Images/WomanCoat/1_101_325.jpg"></a>
                            <ul class="thumbnails small">
                                <li class="span1">
                                    <a href="~/Images/WomanCoat/1_101_325.jpg" class="thumbnail" data-fancybox-group="group1" title="Description 2"><img src="~/Images/WomanCoat/1_101_325.jpg" alt=""></a>
                                </li>
                                <li class="span1">
                                    <a href="~/Images/WomanCoat/1_101_325.jpg" class="thumbnail" data-fancybox-group="group1" title="Description 3"><img src="~/Images/WomanCoat/1_101_325.jpg" alt=""></a>
                                </li>
                                <li class="span1">
                                    <a href="~/Images/WomanCoat/1_101_325.jpg" class="thumbnail" data-fancybox-group="group1" title="Description 4"><img src="~/Images/WomanCoat/1_101_325.jpg" alt=""></a>
                                </li>
                                <li class="span1">
                                    <a href="~/Images/WomanCoat/1_101_325.jpg" class="thumbnail" data-fancybox-group="group1" title="Description 5"><img src="~/Images/WomanCoat/1_101_325.jpg" alt=""></a>
                                </li>
                            </ul>
                        </div>
                        <div class="span5">
                            <address>
                                <strong>Thương hiệu:</strong> <span>Apple</span><br>
                                <strong>Mã sản phẩm:</strong> <span>Product 14</span><br>
                                <strong>Điểm thưởng:</strong> <span>0</span><br>
                                <strong>Tình trạng:</strong> <span>Hết hàng</span><br>
                            </address>
                            <h4><strong>Price: 149.000đ</strong></h4>
                        </div>
                        <div class="span5">
                            <form class="form-inline">
                                <p>&nbsp;</p>
                                <label>Số lượng:</label>
                                <input type="text" class="span1" placeholder="1">
                                <button class="btn btn-inverse" type="submit">Thêm vào giỏ hàng</button>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span9">
                            <ul class="nav nav-tabs" id="myTab">
                                <li class="active"><a href="#home">Mô tả</a></li>
                                <li class=""><a href="#profile">Thông tin thêm</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="home">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem</div>
                                <div class="tab-pane" id="profile">
                                    <table class="table table-striped shop_attributes">
                                        <tbody>
                                            <tr class="">
                                                <th>Size</th>
                                                <td>L, M, S, XL</td>
                                            </tr>
                                            <tr class="alt">
                                                <th>Màu sắc</th>
                                                <td>Cam, Vàng</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
