﻿@{
    ViewBag.Title = "Woman-Dress";
}
<div id="wrapper" class="container">
    <section class="navbar main-menu">
        <div class="navbar-inner main-menu">
            <a href="/Home/Index" class="logo pull-left"><img src="~/Images/logo.png" class="site_logo" alt=""></a>
            <nav id="menu" class="pull-right">
                <ul>
                    <li>
                        <a href="/Product/AoNu">Thời trang nữ</a>
                        <ul>
                            <li><a href="/Product/WomanCoat">Áo Khoác Nữ</a></li>
                            <li><a href="/Product/WomanCoat">Áo Sơ Mi Nữ</a></li>
                            <li><a href="/Product/WomanCoat">Áo Thun Nữ</a></li>
                            <li><a href="/Product/WomanCoat">Váy</a></li>
                            <li><a href="/Product/WomanCoat">Quần Nữ</a></li>
                            <li><a href="/Product/WomanCoat">Giày - Dép Nữ</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/Home/Index">Thời trang nam</a>
                        <ul>
                            <li><a href="/Home/Index">Áo Khoác Nam</a></li>
                            <li><a href="/Home/Index">Áo Sơ Mi Nam</a></li>
                            <li><a href="/Home/Index">Áo Thun Nam</a></li>
                            <li><a href="/Home/Index">Quần Nam</a></li>
                            <li><a href="/Home/Index">Giày - Dép Nam</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/Home/Index">Thời trang trẻ em</a>
                        <ul>
                            <li><a href="/Home/Index">Bé gái</a></li>
                            <li><a href="/Home/Index">Bé trai</a></li>
                        </ul>
                    </li>
                    <li><a href="/Home/Index">Đang hot</a></li>
                </ul>
            </nav>
        </div>
    </section>
    <section class="header_text sub">
        <img class="pageBanner" src="~/Images/pageBanner.png" alt="New products">
    </section>
    <section class="main-content">
        <div class="row">
            <div class="span12">
                <ul class="thumbnails listing-products">
                    <li class="span3">
                        <div class="product-box">
                            <span class="sale_tag"></span>
                            <a href="/Product/ProductDetail"><img alt="" src="~/Images/WomanCoat/1_109_104.jpg"></a><br />
                            <a href="/Product/ProductDetail" class="title">Áo Khoác Kimono Sành Điệu</a><br />
                            <p class="price">159.000đ</p>
                        </div>
                    </li>
                    <li class="span3">
                        <div class="product-box">
                            <a href="/Product/ProductDetail"><img alt="" src="~/Images/WomanCoat/1_16_100.jpg"></a><br />
                            <a href="/Product/ProductDetail" class="title">Áo Vest Nữ Hàn Quốc</a><br />
                            <p class="price">179.000đ</p>
                        </div>
                    </li>
                    <li class="span3">
                        <div class="product-box">
                            <span class="sale_tag"></span>
                            <a href="/Product/ProductDetail"><img alt="" src="~/Images/WomanCoat/1_16_364.jpg"></a><br />
                            <a href="/Product/ProductDetail" class="title">Áo Vest Nữ Công Sở WaveStyle</a><br />
                            <p class="price">189.000đ</p>
                        </div>
                    </li>
                    <li class="span3">
                        <div class="product-box">
                            <span class="sale_tag"></span>
                            <a href="/Product/ProductDetail"><img alt="" src="~/Images/WomanCoat/1_87_1.jpg"></a><br />
                            <a href="/Product/ProductDetail" class="title">Áo Khoác Nữ Đính Nơ Lưng Xinh Xắn</a><br />
                            <p class="price">169.000đ</p>
                        </div>
                    </li>
                    <li class="span3">
                        <div class="product-box">
                            <a href="/Product/ProductDetail"><img alt="" src="~/Images/WomanCoat/ao-khoac-nu-2014_5.jpg"></a><br />
                            <a href="/Product/ProductDetail" class="title">Áo Khoác Nỉ Hai Dây Kéo Ngực</a><br />
                            <p class="price">148.000đ</p>
                        </div>
                    </li>
                    <li class="span3">
                        <div class="product-box">
                            <a href="/Product/ProductDetail"><img alt="" src="~/Images/WomanCoat/1_43_1.jpg"></a><br />
                            <a href="/Product/ProductDetail" class="title">Áo Khoác Nữ Sành Điệu</a><br />
                            <p class="price">165.000đ</p>
                        </div>
                    </li>
                    <li class="span3">
                        <div class="product-box">
                            <a href="/Product/ProductDetail"><img alt="" src="~/Images/WomanCoat/1_101_325.jpg"></a><br />
                            <a href="/Product/ProductDetail" class="title">Áo Khoác Nữ Không Nút Sang Trọng</a><br />
                            <p class="price">149.000đ</p>
                        </div>
                    </li>
                    <li class="span3">
                        <div class="product-box">
                            <a href="/Product/ProductDetail"><img alt="" src="~/Images/WomanCoat/ao-khoac-vest-nu_3_7.jpg"></a><br />
                            <a href="/Product/ProductDetail" class="title">Áo Khoác Cổ Giả Vest</a><br />
                            <p class="price">161.000đ</p>
                        </div>
                    </li>
                </ul>
                <hr>
                <div class="pagination pagination-small pagination-centered">
                    <ul>
                        <li><a href="#">Prev</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
