.item-pro-home {width:155px; height: 162px; border:1px solid #cbcbcb; float: left;
				margin: 17px 6px 3px 17px}
.box-img-pro-home {width:138px; height:100px; margin: 5px auto; text-align:center}
.box-img-pro-home img{ max-width:138px; max-height: 100px; border:0}
.box-img-pro-home image:hover{border:1px solid #ff6a00}