﻿<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
               <a href="/Admin/QLKhachHang"><i class="fa fa-dashboard fa-fw"></i> Danh sách tài khoản</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>Thống kê<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="flot.html">Flot Charts</a>
                    </li>
                    <li>
                        <a href="morris.html">Morris.js Charts</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="tables.html"><i class="fa fa-table fa-fw"></i> Thống kê top 10 sản phẩm</a>
            </li>
            <li>
                <a href="/Admin/LoaiSanPham/Index"><i class="fa fa-edit fa-fw"></i> Thống kê top 10 danh mục</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-wrench fa-fw"></i> Quản lý danh mục<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="panels-wells.html">Theo tuần</a>
                    </li>
                    <li>
                        <a href="buttons.html">Theo tháng</a>
                    </li>
                    <li>
                        <a href="notifications.html">Theo quý</a>
                    </li>
                    <li>
                        <a href="typography.html">Theo năm</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-sitemap fa-fw"></i> Quản lý sản phẩm<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">Sản phẩm mới về</a>
                    </li>
                    <li>
                        <a href="#">Hàng tồn kho</a>
                    </li>
                    <li>
                        <a href="#">Xả hàng <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="#">Hàng cần bán</a>
                            </li>
                            <li>
                                <a href="#">Hàng giữ lại</a>
                            </li>
                        </ul>
                        <!-- /.nav-third-level -->
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-files-o fa-fw"></i>Quản lý đơn đặt hàng<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="blank.html">Chưa duyệt</a>
                    </li>
                    <li>
                        <a href="login.html">Đã duyệt</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
