﻿@model Models.Frameworks.LOAISANPHAM

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@*@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{Html.RenderPartial("EditorPartial");}*@


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align:center">
                LOẠI SẢN PHẨM
            </div>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)

                            <div class="form-horizontal">
                                <h4>Tạo 1 loại sản phẩm mới</h4>
                                <hr />
                                <div class="form-group">
                                    @Html.Label("Tên loại sản phẩm ", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Ten)
                                        @Html.ValidationMessageFor(model => model.Ten)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("Order", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Order)
                                        @Html.ValidationMessageFor(model => model.Order)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("Trạng thái", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.DropDownListFor(model => model.TrangThai, new List<SelectListItem>()
                                        {
                                            new SelectListItem(){Selected = true,Text = "Đã duyệt",Value = "true"},
                                            new SelectListItem(){Selected = false,Text = "Chưa duyệt",Value = "false"},
                                        })
                                        @Html.ValidationMessageFor(model => model.TrangThai)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Create" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div>
                @Html.ActionLink("Quay lại danh sách", "Index")
            </div>
