﻿@model Models.Frameworks.SANPHAMQA
@{
    ViewBag.Title = "Chi tiết";
}

<div class="float-left" style="margin-left:20px">
    <img src="@Url.Content("~/" + Model.HinhAnh)">
</div>
<div style="margin-left:20px">
    <div class="textHeader">
        @Html.DisplayFor(model => model.TenSP)
    </div>
    <div style="color:red">
        Giá:  @string.Format("{0:0,0 VND}", Model.GiaBan).Replace(",", ".")
    </div>
    <div>
        <div style="margin-top: 5px">
            <ul>
                <li>
                    <a style="color:blue" href="@Url.Action("AddToCart", "MuaHang", new { id = Model.IDLoaiSP }, null)" class="linkButton1">Mua Sản Phẩm</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="clear-both" style="margin-left:10px">
    @MvcHtmlString.Create(Model.ChiTiet)
</div>