﻿@model Models.Frameworks.SANPHAMQA
@{
    ViewBag.Title = "EditorPartial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/ckfinder/ckfinder.js"></script>
<script type="text/javascript">
    function BrowseServer() {
        var finder = new CKFinder();
        finder.selectActionFunction = SetFileField;
        finder.popup();
    }
    function SetFileField(fileUrl) {
        document.getElementById('Image').value = fileUrl;
    }
</script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Product</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.TenSP)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TenSP)
            @Html.ValidationMessageFor(model => model.TenSP)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IDLoaiSP)
        </div>
        <div class="editor-field">
            @Html.DropDownList("CategoryID", String.Empty)
            @Html.ValidationMessageFor(model => model.IDLoaiSP)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.GiaBan)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GiaBan)
            @Html.ValidationMessageFor(model => model.GiaBan)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HinhAnh)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HinhAnh)
            <input type="button" value="Chọn Ảnh ..." onclick="BrowseServer();" />
            @Html.ValidationMessageFor(model => model.HinhAnh)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Mota)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Mota)
            @Html.ValidationMessageFor(model => model.Mota)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ChiTiet)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ChiTiet)
            @Html.ValidationMessageFor(model => model.ChiTiet)
        </div>
        <p>
            <input type="submit" value="Lưu Lại" />
        </p>
    </fieldset>
}


