﻿@model IEnumerable<Models.Frameworks.LOAISANPHAM>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
   <div id="wrapper" class="container">
    <section class="navbar main-menu">
        <div class="navbar-inner main-menu">
            <a href="/TrangChu/TrangChu" class="logo pull-left"><img src="~/Images/logo.png" class="site_logo" alt=""></a>
            <nav id="menu" class="pull-right">
                <ul>
                    <li>
                        <a href="/TrangChu/TrangChu">Thời trang nữ</a>
                        <ul>
                            <li><a href="/SanPham/AoKhoacNu">Áo Khoác Nữ</a></li>
                            <li><a href="/SanPham/AoKhoacNu">Áo Sơ Mi Nữ</a></li>
                            <li><a href="/SanPham/AoKhoacNu">Áo Thun Nữ</a></li>
                            <li><a href="/SanPham/AoKhoacNu">Váy</a></li>
                            <li><a href="/SanPham/AoKhoacNu">Quần Nữ</a></li>
                            <li><a href="/SanPham/AoKhoacNu">Giày - Dép Nữ</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/TrangChu/TrangChu">Thời trang nam</a>
                        <ul>
                            <li><a href="/SanPham/AoKhoacNam">Áo Khoác Nam</a></li>
                            <li><a href="/SanPham/AoKhoacNam">Áo Sơ Mi Nam</a></li>
                            <li><a href="/SanPham/AoKhoacNam">Áo Thun Nam</a></li>
                            <li><a href="/SanPham/AoKhoacNam">Quần Nam</a></li>
                            <li><a href="/SanPham/AoKhoacNam">Giày - Dép Nam</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/TrangChu/TrangChu">Thời trang trẻ em</a>
                        <ul>
                            <li><a href="/TrangChu/TrangChu">Bé gái</a></li>
                            <li><a href="/TrangChu/TrangChu">Bé trai</a></li>
                        </ul>
                    </li>
                    <li><a href="/TrangChu/TrangChu">Đang hot</a></li>
                </ul>
            </nav>
        </div>
    </section>
</div>
    @foreach (var item in Model)
    {
        <div class="header1">
            @Html.ActionLink(item.Ten, "SanPhamID", "SanPham", new { id = item.IDLoaiSP }, null)
        </div>
        if (item.SANPHAMQAs.Count() > 0)
        {
            @Html.Partial("ShowPartial", item.SANPHAMQAs)
        }
    }

