﻿@model IEnumerable<Models.Frameworks.SANPHAMQA>

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Request.IsAuthenticated)
 <script type="text/javascript">
        $(function () {
            $('.RemoveLink').click(function () {
                var x = $(this).attr("data-id");
                if (confirm("Đối tượng sẽ bị xóa.Bạn có muốn không ?")) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Delete", "Product")',
                    data: { id: x }
                });
                $("#row-" + x).remove();
            }
        })
    })
    </script>
    <div>
        @Html.ActionLink("Thêm Mới", "Create", null, new { @class = "linkButton2" })
    </div>
}
@foreach (var item in Model.Take(3))
{
    <div id="row-@item.MaSP" class="inline-block" style="width: 30%; height: 225px; overflow: auto; border: 1px solid #d1cdcd; margin: 8px;">
        <div class="header1">
            @Html.ActionLink(@item.TenSP, "Details", "Product", new { id = item.MaSP }, null)
        </div>
        <div class="float-left">
            <a href="@Url.Action("Details", "Product", new { id = item.MaSP })">
                <img src="@Url.Content("~/" + @item.HinhAnh)" style="width:100px; height:100px; margin:5px 2px;" />
            </a>
        </div>
        <div>@item.Mota</div>
        <div class="clear-both">
            <div>
                Price : @string.Format("{0:0,0 VNĐ}", item.GiaBan).Replace(",", ".")
            </div>
            <div style="margin-top: 10px;">
                <a href="@Url.Action("AddToCart", "Shopping", new { id = item.MaSP }, null)" class="linkButton1">Mua Sản Phẩm</a>
            </div>
            @if (Request.IsAuthenticated)
            {
                <div style="margin-top: 10px;">
                    @Html.ActionLink("Sửa", "Edit", new { id = item.MaSP }, new { @class = "linkButton2" })
                    <a href="#" class="RemoveLink linkButton2" data-id="@item.MaSP">Xóa</a>
                </div>
            }
        </div>
    </div>
}