﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canary Shop</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
@{
     var user = Session["user"] as CanaryShop.Code.UserSession;
}
<body>
    <div id="top-bar" class="container" style="margin-bottom:10px">
        <div class="row">
            <div class="col-md-4 col-xs-4 col-sm-4 col-md-offset-1">
                <form method="POST" class="search_form">
                    <input type="text" class="input-block-level search-query" placeholder="Search">
                </form>
            </div>
            <div class="col-md-7 col-xs-7 col-sm-7">
                <div class="account pull-right">
                    <ul class="user-menu">
                        @if (user == null)
                        {
                            Session["user"] = "Khach Hang";
                            <li><a href="/TrangChu/TrangChu">Tài khoản của tôi</a></li>
                            <li><a href="/MuaHang/ShowCart">Giỏ hàng của bạn</a></li>
                            <li><a href="/TaiKhoan/DangNhap">Đăng nhập</a></li>
                            <li><a href="/TaiKhoan/DangKy">Đăng ký</a></li>
                        }
                        else
                        {
                            <li>Xin chào <a href="/TrangChu/TrangChu">@user.UserName</a></li>
                        <li><a href="/TrangChu/TrangChu">Tài khoản của tôi</a></li>
                        <li><a href="/MuaHang/ShowCart">Giỏ hàng của bạn</a></li>
                        <li><a href="/TaiKhoan/DangNhap">Đăng xuất</a></li>
                        <li><a href="/TaiKhoan/DangKy">Đăng ký</a></li>
                        }                       

                    </ul>
                </div>
            </div>
        </div>
    </div>

        <div>
            @RenderBody()
                <div id="wrapper" class="container">
                    <section id="footer-bar">
                        <div class="row">
                            <div class="span3">
                                <h4>Điều hướng</h4>
                                <ul class="nav">
                                    <li><a href="/TrangChu/TrangChu">Trang chủ</a></li>
                                    <li><a href="/TrangChu/ThongTin">Thông tin</a></li>
                                    <li><a href="/TrangChu/LienHe">Liên hệ</a></li>
                                    <li><a href="/MuaHang/ShowCart">Giỏ hàng</a></li>
                                    <li><a href="/TaiKhoan/DangNhap">Đăng nhập</a></li>
                                    <li><a href="/TaiKhoan/DangKy">Đăng ký</a></li>
                                </ul>
                            </div>
                            <div class="span3">
                                <h4>Tài khoản của tôi</h4>
                                <ul class="nav">
                                    <li><a href="/TrangChu/TrangChu">Tài khoản của tôi</a></li>
                                    <li><a href="/TrangChu/TrangChu">Lịch sử đặt hàng</a></li>
                                </ul>
                            </div>
                            <div class="span5">
                                <p class="logo"><img src="~/Images/logo.png" class="site_logo" alt=""></p>
                                <p>Thiên đường mua sắm Canary Shop.</p>
                                <br />
                                <span class="social_icons">
                                    <a class="facebook" href="/TrangChu/TrangChu">Facebook</a>
                                    <a class="twitter" href="/TrangChu/TrangChu">Twitter</a>
                                    <a class="skype" href="/TrangChu/TrangChu">Skype</a>
                                    <a class="vimeo" href="/TrangChu/TrangChu">Vimeo</a>
                                </span>
                            </div>
                        </div>
                    </section>
                    <section id="copyright">
                        <span>Copyright 2013 bootstrappage template  All right reserved.</span>
                    </section>
                </div>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        <script src="~/Scripts/common.js"></script>
        <script src="~/Scripts/jquery.flexslider-min.js"></script>
        <script type="text/javascript">
            $(function () {
                $(document).ready(function () {
                    $('.flexslider').flexslider({
                        animation: "fade",
                        slideshowSpeed: 4000,
                        animationSpeed: 600,
                        controlNav: false,
                        directionNav: true,
                        controlsContainer: ".flex-container" // the container that holds the flexslider
                    });
                });
            });
        </script>
        @RenderSection("scripts", required: false)
</body>

</html>


