﻿
@using PagedList.Mvc; 
@{
    ViewBag.Title = "Trang chủ";
}

<div id="wrapper" class="container">
    <section class="navbar main-menu">
        <div class="navbar-inner main-menu">
            <a href="/TrangChu/TrangChu" class="logo pull-left"><img src="~/Images/logo.png" class="site_logo" alt=""></a>
            <nav id="menu" class="pull-right">
                <ul>
                    <li>
                        <a href="/TrangChu/TrangChu">Thời trang nữ</a>
                        <ul>
                            <li><a href="/SanPham/AoKhoacNu">Áo Khoác Nữ</a></li>
                            <li><a href="/SanPham/AoKhoacNu">Áo Sơ Mi Nữ</a></li>
                            <li><a href="/SanPham/AoKhoacNu">Áo Thun Nữ</a></li>
                            <li><a href="/SanPham/AoKhoacNu">Váy</a></li>
                            <li><a href="/SanPham/AoKhoacNu">Quần Nữ</a></li>
                            <li><a href="/SanPham/AoKhoacNu">Giày - Dép Nữ</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/TrangChu/TrangChu">Thời trang nam</a>
                        <ul>
                            <li><a href="/TrangChu/TrangChu">Áo Khoác Nam</a></li>
                            <li><a href="/TrangChu/TrangChu">Áo Sơ Mi Nam</a></li>
                            <li><a href="/TrangChu/TrangChu">Áo Thun Nam</a></li>
                            <li><a href="/TrangChu/TrangChu">Quần Nam</a></li>
                            <li><a href="/TrangChu/TrangChu">Giày - Dép Nam</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/TrangChu/TrangChu">Thời trang trẻ em</a>
                        <ul>
                            <li><a href="/TrangChu/TrangChu">Bé gái</a></li>
                            <li><a href="/TrangChu/TrangChu">Bé trai</a></li>
                        </ul>
                    </li>
                    <li><a href="/TrangChu/TrangChu">Đang hot</a></li>
                </ul>
            </nav>
        </div>
    </section>
    <section class="homepage-slider" id="home-slider">
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <img src="~/Images/banner-1.jpg" alt="" />
                </li>
                <li>
                    <img src="~/Images/banner-2.jpg" alt="" />
                </li>
            </ul>
        </div>
    </section>
    <section class="header_text">
        Đến với trang web của chúng tôi là bạn đang ghé thăm một thiên đường mua sắm thực thụ.
        <br />Chúng tôi có những gì bạn cần.
    </section>
    <section class="main-content">
        <div class="row">
            <div class="span12">
                <div id="content"> @*Cung cap 1 id de load khi phan trang*@
                    <div class="row">
                        <div class="span12">
                            <h4 class="title">
                                <span class="pull-left"><span class="text"><span class="line">Sản phẩm <strong>đặc sắc</strong></span></span></span>
                                <span class="pull-right">
                                    <a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
                                </span>
                            </h4>
                            <div id="myCarousel" class="myCarousel carousel slide">
                                <div class="carousel-inner">
                                    <div class="active item">
                                        <ul class="thumbnails">
                                            @Html.Raw(ViewBag.View)
                                        </ul>
                                    </div>
                                    <div class="item">
                                        <ul class="thumbnails">
                                            @Html.Raw(ViewBag.View)
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                       @*Thay doi co co su kien nhap chuot*@
  
                </div> 
                <br />
                <div class="row">
                    <div class="span12">
                        <h4 class="title">
                            <span class="pull-left"><span class="text"><span class="line">Sản phẩm <strong>mới nhất</strong></span></span></span>
                            <span class="pull-right">
                                <a class="left button" href="#myCarousel-2" data-slide="prev"></a><a class="right button" href="#myCarousel-2" data-slide="next"></a>
                            </span>
                        </h4>
                        <div id="myCarousel-2" class="myCarousel carousel slide">
                            <div class="carousel-inner">
                                <div class="active item">
                                    <ul class="thumbnails">
                                        @Html.Raw(ViewBag.View)
                                    </ul>
                                </div>
                                <div class="item">
                                    <ul class="thumbnails">
                                       @Html.Raw(ViewBag.View)
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row feature_box">
                    <div class="span4">
                        <div class="service">
                            <div class="responsive">
                                <img src="~/Images/feature_img_2.png" alt="" />
                                <h4>Thiết kế <strong>HIỆN ĐẠI</strong></h4>
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="service">
                            <div class="customize">
                                <img src="~/Images/feature_img_1.png" alt="" />
                                <h4>Giao hàng <strong>MIỄN PHÍ</strong></h4>
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="service">
                            <div class="support">
                                <img src="~/Images/feature_img_3.png" alt="" />
                                <h4>Phục vụ<strong> 24/7</strong></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>







