﻿@model IEnumerable<Models.Frameworks.LOAISANPHAM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Danh mục sản phẩm
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tên</th>
                                <th>Ngày tạo</th>
                                <th>Order</th>
                                <th>Trạng thái</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                           @foreach (var item in Model)
                           {
                            <tr class="odd gradeX">
                                <td>@item.IDLoaiSP</td>
                                <td>@item.Ten</td>
                                <td>@(item.NgayTao.HasValue? @item.NgayTao.Value.ToString("dd/MM/yyyy"): "")</td>
                                <td class="center">@item.Order.GetValueOrDefault(0)</td>
                                <td class="center">@(item.TrangThai.GetValueOrDefault(true)?"Đã Duyệt":"Chưa Duyệt")</td>
                                <td>
                                    @Html.ActionLink("Sửa","Edit", new {id = item.IDLoaiSP}) |
                                    @Html.ActionLink("Chi tiết", "Detail", new { id = item.IDLoaiSP }) |
                                    @Html.ActionLink("Xóa", "Delete", new { id = item.IDLoaiSP })
                                </td>
                            </tr>
                           }
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>